
<!DOCTYPE html>
<html>
<head>
	<title>Yeni Kayıt Ekle</title>
</head>
<body>
	<h1>Yeni Kayıt Ekle</h1>

    <p><a href="{{ url_for('rehber') }}">Anasayfaya dön.</a></p>    
    <p><a href="{{ url_for('list') }}">Kayıtları listele.</a></p>
    <p><a href="{{ url_for('update') }}">Rehberden kayıt güncelle.</a></p>
    <p><a href="{{ url_for('deleteNumber') }}">Rehberden kayıt sil.</a></p>


	<form method="post" action="{{ url_for('addNumber') }}">
		<label for="ad">Ad:</label>
		<input type="text" id="ad" name="ad"><br>
		<label for="soyad">Soyad:</label>
		<input type="text" id="soyad" name="soyad"><br>
		<label for="telefon">Telefon:</label>
		<input type="text" id="telefon" name="telefon"><br>
		<input type="submit" value="Kaydet">
	</form>
</body>
</html>
