<!DOCTYPE html>
<html>

<head>
    <title>Listeleme</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .table-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        table {
            width: 80%;
            margin: 0 auto;
        }

        .form-control:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Rehber</h1>
                <p class="text-center"><a href="{{ url_for('logout') }}">Çıkış yap.</a></p>
            </div>
        </div>
    </div>
    <div class="table-container">
        <form method="post">

            {% if error %}
            <div class="alert alert-danger mt-3">{{ error }}</div>
            {% endif %}

            <td><a href="#" onclick="addUser()"><button type="button" class="btn btn-success">Kayıt Ekle</button></a>
            </td>



            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Numara</th>
                        <th>Adres</th>
                        <th>Güncelle</th>
                        <th>Sil</th>
                        <th>Adres ekle</th>

                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td><input type="text" value="{{ user.id }}" id="id" name="id" class="form-control"
                                style="width: auto;" readonly></td>
                        <td><input type="text" value="{{ user.ad }}" id="ad" name="ad" class="form-control" readonly>
                        </td>
                        <td><input type="text" value="{{ user.soyad }}" id="soyad" name="soyad" class="form-control"
                                readonly>
                        </td>
                        <td><input type="text" value="{{ user.numara }}" id="numara" name="numara" class="form-control"
                                readonly>
                        </td>
                        <td>

                            <select class="form-select" aria-label="Default select example">
                                {% for adress in user.adresses %}
                                <option value="{{ adress.adres_adi }}" id="adres_adi" name="adres_adi">{{
                                    adress.adres_adi }}</option>
                                {% endfor %}
                            </select>
                        </td>

                        <td><a href="#"
                                onclick="editUser('{{ user.id }}', '{{ user.ad }}', '{{ user.soyad }}', '{{ user.numara }}')"><button
                                    type="button" class="btn btn-info">Güncelle</button></a></td>
                        <td><a href="#"
                                onclick="deleteUser('{{ user.id }}', '{{ user.ad }}', '{{ user.soyad }}', '{{ user.numara }}')"><button
                                    type="button" class="btn btn-danger">Sil</button></a></td>
                        <td><a href="{{url_for('adres',rehber_id=user.id)}}"><button type="button"
                                    class="btn btn-success">Adres İşlemleri</button></a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <nav>
                <ul>
                    {% if sayfa_numarasi > 1 %}
                    <li><a href="{{ url_for('list', sayfa_numarasi=sayfa_numarasi-1) }}">Önceki</a></li>
                    {% endif %}
                    {% if toplam_sayfa_sayisi > sayfa_numarasi %}
                    <li><a href="{{ url_for('list', sayfa_numarasi=sayfa_numarasi+1) }}">Sonraki</a></li>
                    {% endif %}
                </ul>

                <!-- <ul>
                    {% if sayfa_numarasi > 1 %}
                    <li><a href="{{ url_for('list', sayfa_numarasi=sayfa_numarasi-1) }}">Önceki</a></li>
                    {% endif %}
                    {% if toplam_sayfa_sayisi > sayfa_numarasi %}
                    <li><a href="{{ url_for('list', sayfa_numarasi=sayfa_numarasi+1) }}">Sonraki</a></li>
                    {% endif %}
                </ul> -->
            </nav>

        </form>
    </div>

    <!-- Modal for Editing User Data -->
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Kullanıcıyı Güncelle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ url_for('update') }}">
                        <input type="hidden" id="editUserId" name="id">
                        <div class="form-group">
                            <label for="editUserAd">Ad</label>
                            <input type="text" class="form-control" id="editUserAd" name="ad">
                        </div>
                        <div class="form-group">
                            <label for="editUserSoyad">Soyad</label>
                            <input type="text" class="form-control" id="editUserSoyad" name="soyad">
                        </div>
                        <div class="form-group">
                            <label for="editUserNumara">Numara</label>
                            <input type="text" class="form-control" id="editUserNumara" name="numara">
                        </div>
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for delete User Data -->
    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserModalLabel">Kullanıcıyı Sil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ url_for('deleteNumber') }}">
                        <input type="hidden" id="deleteUserId" name="id">
                        <div class="form-group">
                            <label for="deleteUserAd">Ad</label>
                            <input type="text" class="form-control" id="deleteUserAd" name="ad">
                        </div>
                        <div class="form-group">
                            <label for="deleteUserSoyad">Soyad</label>
                            <input type="text" class="form-control" id="deleteUserSoyad" name="soyad">
                        </div>
                        <div class="form-group">
                            <label for="deleteUserNumara">Numara</label>
                            <input type="text" class="form-control" id="deleteUserNumara" name="numara">
                        </div>
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal for insert User Data -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Kullanıcıyı Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ url_for('addNumber') }}">
                        <input type="hidden" id="addUserId" name="id">
                        <div class="form-group">
                            <label for="addUserAd">Ad</label>
                            <input type="text" class="form-control" id="addUserAd" name="ad">
                        </div>
                        <div class="form-group">
                            <label for="addUserSoyad">Soyad</label>
                            <input type="text" class="form-control" id="addUserSoyad" name="soyad">
                        </div>
                        <div class="form-group">
                            <label for="addUserNumara">Numara</label>
                            <input type="text" class="form-control" id="addUserNumara" name="numara">
                        </div>
                        <button type="submit" class="btn btn-danger">Kayıt Et</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for insert adres Data -->
    <div class="modal fade" id="addAdresModal" tabindex="-1" role="dialog" aria-labelledby="addAdresModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAdresModalLabel">Adres Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ url_for('add_adres') }}">
                        <input type="hidden" id="rehber_id" name="id">
                        <div class="form-group">
                            <label for="addAdres">Adres Başlığı</label>
                            <input type="text" class="form-control" id="addAdres" name="adres_adi">
                        </div>
                        <div class="form-group">
                            <label for="addAdres">İl</label>
                            <input type="text" class="form-control" id="addAdres" name="il">
                        </div>
                        <div class="form-group">
                            <label for="addAdres">İlçe</label>
                            <input type="text" class="form-control" id="addAdres" name="ilce">
                        </div>
                        <div class="form-group">
                            <label for="addAdres">Adres</label>
                            <input type="text" class="form-control" id="addAdres" name="adres">
                        </div>
                        <div class="form-group">
                            <label for="addAdres">Mail</label>
                            <input type="text" class="form-control" id="addAdres" name="mail">
                        </div>

                        <button type="submit" class="btn btn-success">Adres Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <!-- Add Bootstrap and jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Script for Editing User Data in Modal -->
    <script>
        function editUser(id, ad, soyad, numara) {
            document.getElementById('editUserId').value = id;
            document.getElementById('editUserAd').value = ad;
            document.getElementById('editUserSoyad').value = soyad;
            document.getElementById('editUserNumara').value = numara;
            $('#editUserModal').modal('show');
        }
        function deleteUser(id, ad, soyad, numara) {
            document.getElementById('deleteUserId').value = id;
            document.getElementById('deleteUserAd').value = ad;
            document.getElementById('deleteUserSoyad').value = soyad;
            document.getElementById('deleteUserNumara').value = numara;
            $('#deleteUserModal').modal('show');
        }
        function addUser(ad, soyad, numara) {

            $('#addUserModal').modal('show');
        }
        function addAdres(rehber_id, mail) {
            document.getElementById('rehber_id').value = rehber_id;

            $('#addAdresModal').modal('show');
        }

    </script>
</body>

</html>