<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" required>
        <br>
        <label>Password</label>
        <input type="password" name="password" required>
        <br>
        <input type="submit" value="Register">
    </form>
    <a href="{{ url_for('login') }}">Hesabınız varsa giriş yapmak için tıklayın</a>
</body>
</html>
