<!DOCTYPE html>
<html>
<head>
    <title>REHBER</title>
    <!-- Include Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Kayıt Güncelleme Sayfası</h1>
                
                <p class="text-center"><a href="{{ url_for('rehber') }}">Anasayfaya dön</a></p>    
                <p class="text-center"><a href="{{ url_for('addNumber') }}">Rehbere kayıt ekle</a></p>
                <p class="text-center"><a href="{{ url_for('list') }}">Kayıtları listele</a></p>
                <p class="text-center"><a href="{{ url_for('deleteNumber') }}">Rehberden kayıt sil</a></p>
                
                <form method="post" action="{{ url_for('update') }}">
                    <div class="form-group">
                        <label for="id">İd:</label>
                        <input type="text" class="form-control" id="id" name="id" required>
                    </div>
                    <div class="form-group">
                        <label for="ad">Ad:</label>
                        <input type="text" class="form-control" id="ad" name="ad" required>
                    </div>
                    <div class="form-group">
                        <label for="soyad">Soyad:</label>
                        <input type="text" class="form-control" id="soyad" name="soyad" required>
                    </div>
                    <div class="form-group">
                        <label for="telefon">Telefon:</label>
                        <input type="text" class="form-control" id="telefon" name="telefon" required>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Güncelle">
                </form>
                
            </div>
        </div>
    </div>
    <!-- Include Bootstrap JS file -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>